<h1 class="title is-1">Busqueda</h1>
<div class="col-8">
    <p class="subtitle">Busca tus artistas preferidos</p>

    <form (ngSubmit)="searchMusic()">
        <div class="field has-addons">
            <div class="control has-icons-left is-expanded">
                <input class="input" type="text" name="searchStr" [(ngModel)]="searchStr" placeholder="Search Artists">
            </div>
            <div class="control"><button class="button is-link">Search</button></div>
            <div class="control"><a class="button is-info" (click)="reset()">Reset</a></div>
        </div>
    </form><br>

    <div class="fadein" *ngIf="searchResult">

    </div>
    <!-- Display Artist -->
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <a href="{{ artist.url }}" target="_blank"><img src="{{ artist.image }}" alt="artistImage"></a>
                </figure>
            </div>
            <div class="media-content is-clipped">
                <div class="content">
                    <a class="has-text-info" href="{{ artist.url }}" class="text-success" target="_blank"><strong>{{ artist.name }}</strong></a>
                    <br>
                    <div innerHTML="{{ artist.summary }}"></div>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Listeners</span>
                                <span class="tag is-info">{{ artist.listeners | number }}</span>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Playcount</span>
                                <span class="tag is-info"> {{ artist.playcount | number }}</span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </article>
    </div>

    <!-- Display Tracks -->
    <h2 class="text-success">Top 5 Tracks</h2>

    <div>
        <div class="card">
            <div class="card-body">
                <table class="table card-text">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ranking</th>
                            <th scope="col">Listeners </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let track of tracks">
                            <td><a href="{{ track.url }}" class="text-success" target="_blank">{{ track.name }}</a></td>
                            <td>{{ track.rank }}</td>
                            <td>{{ track.listeners | number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>






</div>